<!DOCTYPE>

<html>
    <head>
        <meta charset="utf-8">
        <title>userPermission Page</title>
    </head>
    <body>
        <h1>일반회원 승인관리</h1>
        <br><br><br>
        <form method="post" action="/process/userPermission">
            <table> 
                 
                        
                    <% for (var i = 0; i < result.rows.length; i++){
                        var user_id = result.rows[i].user_id;
                        var user_name = result.rows[i].user_name;
                        var user_req_ymd = result.rows[i].user_req_ymd;
                        var admin_perm = result.rows[i].admin_perm; %>
                <tr>             
                    <td>
                    <input type="checkbox" name="user_id" value="<%=user_id%>">
                    </td> 
                    <td>아이디:<%=user_id%></td>
                    <td>이름:<%=user_name%></td>    
                    <td>신청일:<%=user_req_ymd%></td>
                    <td>신청상태:<%=admin_perm%></td>
                    
                </tr>
                    <%}%>
            </table>
            <input type="submit" value="승인" name="permission">
            <input type="submit" value="거부" name="refuse">
        </form> 
        <a href='/process/loginCheck'>돌아가기</a>
    </body>
</html>